<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.Kapal-Lawd.Kapal-Lawd.refresh</string>
		<string>com.Kapal-Lawd.Kapal-Lawd.processing</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Audium</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>This app requires continuous access to Bluetooth for background monitoring.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>This app requires access to Bluetooth for connecting to peripherals.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Your app needs access to your location to provide personalized services even when the app is in the background.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Your app needs access to your location to provide personalized services even when the app is in the background.</string>
	<key>Privacy - Location Always and When In Use Usage Description</key>
	<string>Your app needs access to your location to provide personalized services even when the app is in the background.</string>
	<key>Privacy - Location When In Use Usage Description</key>
	<string>Your app needs access to your location to provide personalized services when the app is in use.</string>
	<key>SUPABASE_API_KEY</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1vYWppY3BiY3d6bXZpdXNrdWNwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MjkxNDIxOTcsImV4cCI6MjA0NDcxODE5N30.3qk4UMeGKoDjnBHI0eO5Bb1efSBU6mR5uGzo-AyQw6A</string>
	<key>SUPABASE_BASE_URL</key>
	<string>https://moajicpbcwzmviuskucp.supabase.co</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>audio</string>
		<string>bluetooth-central</string>
		<string>processing</string>
		<string>fetch</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageName</key>
		<string></string>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
